.Muirist {
  text-align: center;
}

.Muirist-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Muirist-logo {
    animation: Muirist-logo-spin infinite 20s linear;
  }
}

.Muirist-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Muirist-link {
  color: #61dafb;
}

@font-face {
  font-family: national-park;
  src: url(./assets/fonts/nationalpark-heavy.ttf);
  font-style: normal;
  font-weight: 100
}

