body {
  margin: 0;
  font-family: nps_router,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/src/assets/images/Muirist\ Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'nps_router';
  src: url('./assets/fonts/nationalpark-heavy.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;

}

