.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    padding-right: 2%;
    
}

.banner {
    padding: 10px;
    height: 243px;margin: 0px;padding: 0px;overflow: hidden;
    background: url("/src/assets/images/TreeTexture.png")no-repeat top center;
    background-image: url("/src/assets/images/TreeTexture.png");
    text-align: center;
    background-size: auto;
    color: white;
    letter-spacing: 28px;   
    filter: drop-shadow(5px 5px 5px #4444dd);

  }